<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>province</key>
	<array>
		<dict>
			<key>province</key>
			<string>西藏</string>
			<key>city</key>
			<array>
				<dict>
					<key>district</key>
					<array>
						<string>阿里地区</string>
						<string>那曲地区</string>
						<string>昌都地区</string>
						<string>林芝地区</string>
						<string>山南地区</string>
						<string>日喀则地区</string>
					</array>
					<key>city</key>
					<string>西藏自治区</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>北京</string>
			<key>city</key>
			<array>
				<dict>
					<key>city</key>
					<string>北京市</string>
					<key>district</key>
					<array>
						<string>朝阳区</string>
						<string>海淀区</string>
						<string>西城区</string>
						<string>东城区</string>
						<string>通州区</string>
						<string>昌平区</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>河南</string>
			<key>city</key>
			<array>
				<dict>
					<key>city</key>
					<string>郑州市</string>
					<key>district</key>
					<array>
						<string>二七区</string>
						<string>中原区</string>
						<string>管城区</string>
						<string>金水区</string>
						<string>惠济区</string>
						<string>新郑市</string>
					</array>
				</dict>
				<dict>
					<key>city</key>
					<string>许昌市</string>
					<key>district</key>
					<array>
						<string>魏都区</string>
						<string>建安区</string>
						<string>禹州市</string>
						<string>长葛市</string>
						<string>鄢陵县</string>
						<string>襄城县</string>
					</array>
				</dict>
				<dict>
					<key>city</key>
					<string>洛阳市</string>
					<key>district</key>
					<array>
						<string>老城区</string>
						<string>洛龙区</string>
						<string>吉利区</string>
						<string>新安县</string>
						<string>宜阳县</string>
						<string>伊川县</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>河北</string>
			<key>city</key>
			<array>
				<dict>
					<key>city</key>
					<string>石家庄市</string>
					<key>district</key>
					<array>
						<string>新华区</string>
						<string>长安区</string>
						<string>裕华区</string>
						<string>鹿泉区</string>
						<string>栾城区</string>
						<string>正定县</string>
					</array>
				</dict>
				<dict>
					<key>city</key>
					<string>保定市</string>
					<key>district</key>
					<array>
						<string>莲池区</string>
						<string>满城区</string>
						<string>青原区</string>
						<string>徐水区</string>
						<string>定州市</string>
						<string>高碑店市</string>
					</array>
				</dict>
				<dict>
					<key>city</key>
					<string>秦皇岛市</string>
					<key>district</key>
					<array>
						<string>海港区</string>
						<string>山海关区</string>
						<string>北戴河区</string>
						<string>抚宁区</string>
						<string>昌黎县</string>
						<string>卢龙县</string>
					</array>
				</dict>
				<dict>
					<key>city</key>
					<string>廊坊市</string>
					<key>district</key>
					<array>
						<string>广阳区</string>
						<string>安次区</string>
						<string>霸州市</string>
						<string>三河市</string>
						<string>永清县</string>
						<string>固安县</string>
					</array>
				</dict>
				<dict>
					<key>city</key>
					<string>邢台市</string>
					<key>district</key>
					<array>
						<string>桥东区</string>
						<string>桥西区</string>
						<string>邢台县</string>
						<string>临城县</string>
						<string>内丘县</string>
						<string>南和县</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>天津</string>
			<key>city</key>
			<array>
				<dict>
					<key>city</key>
					<string>天津市</string>
					<key>district</key>
					<array>
						<string>和平区</string>
						<string>河东区</string>
						<string>河西区</string>
						<string>南开区</string>
						<string>河北区</string>
						<string>滨海新区</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>湖南</string>
			<key>city</key>
			<array>
				<dict>
					<key>city</key>
					<string>长沙市</string>
					<key>district</key>
					<array>
						<string>芙蓉区</string>
						<string>天心区</string>
						<string>岳麓区</string>
						<string>开福区</string>
						<string>雨花区</string>
						<string>望城区</string>
					</array>
				</dict>
				<dict>
					<key>city</key>
					<string>岳阳市</string>
					<key>district</key>
					<array>
						<string>君山区</string>
						<string>云溪区</string>
						<string>临湘市</string>
						<string>岳阳县</string>
						<string>平江县</string>
						<string>湘阴县</string>
					</array>
				</dict>
				<dict>
					<key>city</key>
					<string>湘潭市</string>
					<key>district</key>
					<array>
						<string>雨湖区</string>
						<string>岳塘区</string>
						<string>湘潭县</string>
						<string>韶山市</string>
						<string>湘乡市</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>上海</string>
			<key>city</key>
			<array>
				<dict>
					<key>city</key>
					<string>上海市</string>
					<key>district</key>
					<array>
						<string>黄浦区</string>
						<string>杨浦区</string>
						<string>虹口区</string>
						<string>松江区</string>
						<string>金山区</string>
						<string>浦东新区</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
